


canvas {
  position: fixed;
  top:0;
  left: 0;
}
main {
  position: absolute;
  font-size: 100px;
  color: white;
  
}



#space {
  height: 500vh; 
}
#header{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  width: 50%;
  margin-left:25%;
  max-height: 15%;
  margin-top: 5%;

  
}

.notes{
  height: 500vh;
}